.about {
    margin-bottom: 2rem;
}

@media screen and (max-width: 1024px) {
    .header {
        height: 68vh;
    }

    .about__content p {
        margin: 1rem 0 1.5rem;
    }

    .about {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .header {
        height: 20vh;
    }

    .about__content p {
        margin: 1.1rem 1.0rem;
    }

    .about {
        margin-bottom: 0.5rem;
    }
}