/* General nav styles */
nav {
    background: rgba(179, 179, 179, 0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: 2rem;
    display: flex;
    gap: 1.2rem;
    backdrop-filter: blur(15px);
    border-radius: 50px;
}

nav a {
    background: transparent;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-light);
    font-size: 1.3rem;
    border-radius: 50%;
    transition: background 0.3s ease;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.3);
}

nav a.active {
    background: var(--color-primary);
    color: var(--color-bg);
}

@media screen and (max-width: 600px) {
    nav {
        background: rgba(179, 179, 179, 0.3);
        width: max-content;
        padding: 0.4rem 0.6rem;
        z-index: 2;
        left: 50%;
        transform: translate(-50%);
        bottom: 1.5rem;
        display: flex;
        gap: 0.8rem;
        backdrop-filter: blur(15px);
    }

    nav a {
        padding: 0.7rem;
        font-size: 1.1rem;
        border-radius: 50%;
    }

    nav a.active {
        background: var(--color-primary);
        color: var(--color-bg);
    }

    nav a:hover {
        background: rgba(0, 0, 0, 0.4);
    }
}